section.feedbacks
     .container
        .feedbacks__title-wrap
            h1.feedbacks__title-dscr
                | Lorem ipsum dolor sit.
            p.feedbacks__title-subtitle
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur, qui quod modi, iste dolor.
         #rewivew-wrap.owl-carousel
            .rewivew-item
                .feedbacks__items-wrap
                    .feedbacks__items-reported
                        p
                            | Lorem ipsum dolor sit amet, 
                            | consectetur adipisicing elit. 
                            | Neque dolorum, placeat! Sapiente 
                            | nam quod quae quisquam consequatur 
                            | excepturi eveniet ipsam distinctio 
                            | necessitatibus consequuntur sit, 
                            | expedita deserunt alias porro 
                            | repellat iure delectus veniam minus, 
                            | provident. Harum, modi, repellat. 
                            | Quibusdam facere inventore pariatur 
                            | aperiam modi ad dignissimos itaque 
                            | velit minima, tenetur quas.

                .feedbacks__comment-wrap
                    .feedbacks__comment-img
                        img(src="http://placehold.it/150x150", alt="")
                    .feedbacks__comment-data
                        h2
                            | Name Surname[1], City

            .rewivew-item
                .feedbacks__items-wrap
                    .feedbacks__items-reported
                        p
                            | Lorem ipsum dolor sit amet, 
                            | consectetur adipisicing elit. 
                            | Neque dolorum, placeat! Sapiente 
                            | nam quod quae quisquam consequatur 
                            | excepturi eveniet ipsam distinctio 
                            | necessitatibus consequuntur sit, 
                            | expedita deserunt alias porro 
                            | repellat iure delectus veniam minus, 
                            | provident. Harum, modi, repellat. 
                            | Quibusdam facere inventore pariatur 
                            | aperiam modi ad dignissimos itaque 
                            | velit minima, tenetur quas.

                .feedbacks__comment-wrap
                    .feedbacks__comment-img
                        img(src="http://placehold.it/150x150", alt="")
                    .feedbacks__comment-data
                        h2
                            | Name Surname[2], City

            .rewivew-item
                .feedbacks__items-wrap
                    .feedbacks__items-reported
                        p
                            | Lorem ipsum dolor sit amet, 
                            | consectetur adipisicing elit. 
                            | Neque dolorum, placeat! Sapiente 
                            | nam quod quae quisquam consequatur 
                            | excepturi eveniet ipsam distinctio 
                            | necessitatibus consequuntur sit, 
                            | expedita deserunt alias porro 
                            | repellat iure delectus veniam minus, 
                            | provident. Harum, modi, repellat. 
                            | Quibusdam facere inventore pariatur 
                            | aperiam modi ad dignissimos itaque 
                            | velit minima, tenetur quas.

                .feedbacks__comment-wrap
                    .feedbacks__comment-img
                        img(src="http://placehold.it/150x150", alt="")
                    .feedbacks__comment-data
                        h2
                            | Name Surname[3], City
                        
            .rewivew-item
                .feedbacks__items-wrap
                    .feedbacks__items-reported
                        p
                            | Lorem ipsum dolor sit amet, 
                            | consectetur adipisicing elit. 
                            | Neque dolorum, placeat! Sapiente 
                            | nam quod quae quisquam consequatur 
                            | excepturi eveniet ipsam distinctio 
                            | necessitatibus consequuntur sit, 
                            | expedita deserunt alias porro 
                            | repellat iure delectus veniam minus, 
                            | provident. Harum, modi, repellat. 
                            | Quibusdam facere inventore pariatur 
                            | aperiam modi ad dignissimos itaque 
                            | velit minima, tenetur quas.

                .feedbacks__comment-wrap
                    .feedbacks__comment-img
                        img(src="http://placehold.it/150x150", alt="")
                    .feedbacks__comment-data
                        h2
                            | Name Surname[4], City