header.header
    .header__top-line
        .container.clearfix
            .header__logo-wrap.fl-l
                a.logo-link(href="#")
                    img.logo-img(src="http://placehold.it/50x50", alt="")

            .header__tel-wrap.fl-r
                a.tel-link(href="tel:1234567890")
                    | +1(234)567890
     .header__gallery-wrap
        a.arrow-down(href="#")
            img(src="img/arrow-down.svg", alt="")
        #header-carousel.owl-carousel
            img.gallery-item(src="http://placehold.it/1366x600", alt="")
            img.gallery-item(src="http://placehold.it/1366x600", alt="") 
            img.gallery-item(src="http://placehold.it/1366x600", alt="")
