section.service
    .container
        .service__title-wrap
            h1.service__title-dscr
                | Lorem ipsum dolor sit.
            p.service__title-subtitle
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur, qui quod modi, iste dolor.
        .service__items-wrap
            .service__item
                img.serv-ic(src="http://placehold.it/150x150", alt="")
                h5.serv-title
                    |  Lorem ipsum dolor. 
                p.serv-dscr
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore recusandae tempora consectetur ratione sequi commodi quidem aperiam, molestias modi sunt.
                button.serv-btn
                    |  Lorem ipsum.
            .service__item
                img.serv-ic(src="http://placehold.it/150x150", alt="")
                h5.serv-title
                    |  Lorem ipsum dolor. 
                p.serv-dscr
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore recusandae tempora consectetur ratione sequi commodi quidem aperiam, molestias modi sunt.
                button.serv-btn
                    |  Lorem ipsum.
            .service__item
                img.serv-ic(src="http://placehold.it/150x150", alt="")
                h5.serv-title
                    |  Lorem ipsum dolor. 
                p.serv-dscr
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore recusandae tempora consectetur ratione sequi commodi quidem aperiam, molestias modi sunt.
                button.serv-btn
                    |  Lorem ipsum.
            .service__item
                img.serv-ic(src="http://placehold.it/150x150", alt="")
                h5.serv-title
                    |  Lorem ipsum dolor. 
                p.serv-dscr
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore recusandae tempora consectetur ratione sequi commodi quidem aperiam, molestias modi sunt.
                button.serv-btn
                    |  Lorem ipsum. 



