section.work
    .container
        .work__title-wrap
            h1.work__title-dscr
                | Lorem ipsum dolor sit.
            p.work__title-subtitle
                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur, qui quod modi, iste dolor.
        .work__items-wrap
            .work__item
                img.work-ic(src="http://placehold.it/150x150", alt="")
                h5.work-title
                    |  Lorem ipsum dolor. 
                p.work-dscr
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, perferendis!

            .work__item
                img.work-ic(src="http://placehold.it/150x150", alt="")
                h5.work-title
                    |  Lorem ipsum dolor. 
                p.work-dscr
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, tempore.    
            .work__item
                img.work-ic(src="http://placehold.it/150x150", alt="")
                h5.work-title
                    |  Lorem ipsum dolor. 
                p.work-dscr
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, eaque!                
            .work__item
                img.work-ic(src="http://placehold.it/150x150", alt="")
                h5.work-title
                    |  Lorem ipsum dolor. 
                p.work-dscr
                    |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eligendi!